*
{
  box-sizing: border-box;
}
body
{
  background-color: #f7dfca;
  box-sizing: border-box;
  border-radius: 10px;
  background-position: center;
  font-family: sans-serif;
  font-size: larger;
}
.menubar
{
  background-color: #f4c2c2;
  text-align: center;
}
.menubar ul
{
  display: inline-flex;
  list-style: none;
}
.menubar ul li
{
  width: 300px;
  margin:15px;
  padding :15px;
}
.menubar ul li a
{
  text-decoration: none;
  color: black;
}
.active, .menubar ul li:hover
{
  background-color: #c2f4f4;
  border-radius :3px;
}
.requirements
{
  text-align: left !important;
  float: left;
}
#video
{
  left: 5%;
}
.cakebatter
{
  width:100%;
  height: 50px;
}
.cakes
{
  float: left;
  padding: 5px;
}
.delicious ::after
{
  content: "";
  display: inline;
  clear:both;
}
.image{
  display: inline-flex;
  left: 55%;
  float: right;
  width: 30%;
}
.image img {
  border-radius: 40%;
  margin: 15px;
  padding: 15px;
  width: 150px;
  height: 150px;
}